.about{
    z-index: -3;
    opacity: 0.30;
    animation: aboutHide 0.5s ease;
}

section.active .about{
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(13vw);
    animation: 
    aboutAni 0.5 ease,
    goBackAbout 0.5s ease;
}
/* These animations are used to show the 3d navbar effect */
@keyframes aboutAni {
    0%{
        transform: translate(0);
    }
    5%{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(25vw);
    }
    100%{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(13vw);
    }
}
@keyframes aboutHide {
    0%{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(13vw);
    }
    95%{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(25vw);
    }
    100%{
        transform: translate(0);
    }
}
section.active .about.hover{
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(30vw);
    animation: bringFwdAbout 0.5s ease;
    z-index: 6;
    opacity: 1;
} 
/* These animations are used to cycle through the windows */
@keyframes bringFwdAbout {
    from{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(13vw);
        opacity: 0.30;
    }
    to{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(30vw);
        opacity: 1;
    }
}
@keyframes goBackAbout {
    from{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(30vw);
        opacity: 1;
    }
    to {
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(13vw);
        opacity: 0.30;
    }
}