.home {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 5;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #f3f4f6;
    color: black;
}

section.active .home {
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(25vw);
    animation: 
    homeAni0.5s ease;
    opacity: 0.45;
}
/* These animations are used to show the 3d navbar effect */
@keyframes homeAni {
    from {
        transform: translate(0);
    }
    to {
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(25vw);
    }
}

section.active .home.hover{
    transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(30vw);
    animation: bringFwdHome 0.5s ease;
    z-index: 6;
    opacity: 1;
}
/* These animations are used to cycle through the windows */
@keyframes bringFwdHome {
    from{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(25vw);
    }
    to{
        transform: perspective(1300px) rotateY(20deg) scale(0.5) translateZ(30vw);
    }
}