.links {
    position: absolute;
    width: 30%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    display: block;
    padding: 0.7rem 0;
    color: #DC7A18;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #6d3e17;
}

section.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}
/* This is used to animate the appearance of our links when we open navbar */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}